body {
    background-color: darkolivegreen;
    color: white;
}
p {
    color: white;
    text-align: justify;
}
a {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
header {
    text-align: center;
}
#site_footer {
    margin-top: 20px;
    border-top: 1px solid white;
}
#site_footer > * {
    text-align: center;
}
#site_header {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 25px;
}
.website-content {
    padding: 10px;
    width: 1300px;
}
.index {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 2rem;
}
.index__picture {
    justify-self: center;
    flex: 1 1 0px;
    width: 0;
}
.index_text {
    flex: 1 1 0px;
    width: 0;
}

@media only screen and (max-width: 1300px) {
    .website-content {
        width: 90%;
    }
    .index {
        flex-direction: column;
    }
}
