<html>

<head>
    <link rel="icon" type="image/png" href="assets/jobusmall.jpeg">
    <title>Dan - {{ page.title }}</title>
    <link href="assets/css/ilikegreen.css" rel="stylesheet">
</head>

<body>
    <header id="site_header">
        <h1>Hi! I'm Dan and welcome to my website!</h1>
        <nav>
            <a href="/index.html">home</a> |
            <a href="/imsoprofessional.html">proffessional stuff</a> |
            <a href="/contactmeee.html">contact me</a> |
            <a href="/photos.html">view some of my film photos!</a>
        </nav>
    </header>
    <div style="padding: 10px;">
        {{ content }}
    </div>
    <!-- <footer id="site_footer">
        <p>hi :]</p>
    </footer> -->
</body>

</html>
